body {
    background-color: #868b97;
}

form {
    width: 70%;
    border-style: solid;
    border-width: 5px;
    border-color: #0034ff;
    border-radius: 20px;
    background-color: #90b2ff;
    margin: 10% auto;
    padding: 25px 50px;
    text-align: center;
    box-shadow: 8px 8px 3px #1e52ee;
}

input[type=text] {
    width: 40%;
    margin: 0 30px 0 0;
    background-color: #c1c1c1;
}

input[type=text]:focus {
    background-color: #fff673;
}

label {
    color: #0a15b5;
    padding: 5px;
}

button {
    width: 10%;
    border-style: outset;
    border-color: #2b2bff;
    border-radius: 10px;
    background-color: #4ec5ff;
    color: #0034ff;
    padding: 3px;
    margin: 0 0 0 30px;
}